
  
  section#contruccion div#proxi a#volver {
    position: absolute;
    top: 120px;
    z-index: 100;
    width: 40%;
    background: #b5de0a;
    font-size: .5rem;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
    left: 30%;
  }
  
  section#contruccion div#proxi img {
    width: 100%;
    position: relative;
    left: 0;
  }